.enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .Qrcode {
    margin: 60rpx auto;
    width: 400rpx;
    height: 400rpx;
    border-radius: 10rpx;
  }
  .members {
    margin: 40rpx auto;
    width: 600rpx;
    height: 220rpx;
    img {
      margin: 10rpx;
      width: 100rpx;
      height: 100rpx;
      border-radius: 4rpx;
    }
  }
  .room {
    width: 600rpx;
    height: 80rpx;
    background-color: #8B9CAC;
    color: #fff;
    line-height: 80rpx;
    border-radius: 10rpx;
    text-align: center;
    font-size: 24rpx;
  }
  .scanQrcode{
    width: 100rpx;
    position: absolute;
    right: 20rpx;
    top: 10rpx;
  }
}

