page {
  background: rgba(153, 204, 255, 0.1);
  transform: translateZ(0);
  position: relative;
  .canvas,
  .show {
    position: absolute;
    border: 1px solid #000;
    z-index: 22222;
    border-radius: 10px;
  }
  .show {
    border: none;
    z-index: 1;
  }
  .types {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 10rpx;
    z-index: 99999999;
    color: #bbb;
    .type {
      flex: 1;
      display: inline-block; //   width: 140rpx;
      height: 100rpx;
      line-height: 100rpx;
      text-align: center; //   background: red;
    }
    .chosen {
      color: aqua;
      border-bottom: 4rpx solid #000;
      color: #000;
    }
  }
}
