page {
  background: rgba(153, 204, 255, 0.1);
  transform: translateZ(0);
  position: relative;
  .canvas,
  .show {
    box-shadow: #aaa 0 0 10px;
    position: absolute;
    z-index: 22222;
    border-radius: 4rpx;
    border-left: 1rpx solid #BFCCDC;
    border-right: 1rpx solid #BFCCDC;
  }
  .show {
    border-color: #ffffff;
    z-index: 1;
  }
  .types {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 10rpx;
    z-index: 99999999;
    color: #bbb;
    .type {
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 18rpx;
      height: 90rpx;
      width: 100rpx;
      text-align: center; //   background: red;
      // border: 1rpx solid #cccccc;
      img {
        width: 50rpx;
        height: 50rpx;
      }
    }
    .chosen {
      border-color: #000;
      background-color: #BFCCDC;
    }
  }
  .tip {
    width: 2880rpx;
    background: #BFCCDC;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 130rpx;
    p {
      width: 750rpx;
      height: 130rpx;
      display: flex;
      flex-direction: row;
      line-height: 130rpx;
      justify-content: center;
      align-items: center;
      img {
        margin-left: 20rpx;
        width: 40rpx;
        height: 40rpx;
      }
    }
  }
}
