.enter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .members{
        margin: 100rpx auto;
        width: 600rpx;
        height: 220rpx;
        img{
            margin: 10rpx;
            width: 100rpx;
            height: 100rpx;
        }
    }
    .room {
        width: 600rpx;
        height: 80rpx;
        background-color: #8B9CAC;
        color: #fff;
        line-height: 80rpx;
        border-radius: 10rpx;
        text-align: center;
        font-size: 24rpx;
    }
}